.character{
    max-width: 150px;
    max-height: 150px;
    background: rebeccapurple;
    margin: 5px;
    float: left;
    text-align: center;
}

.character h4 {
    margin: 5px;
    background: white;
    padding: 4px;
}

.character-img {
    max-width: 75px;
    max-height: 75px;
}

#character-select, #character-player, #character-enemy {
    width: 100%;
    overflow: auto;
}

body{
    background: gray;
}

#fighting-arena{
    height: 500px;
    width: 75%;
    background: green;
}

#tag-one{
    float: left;
    margin-left: 10px;
    display: inline;
}
#tag-two{
    float: right;
    margin-right: 10px;
    display: inline;
}

/* #character-defence{
    float: right;
}
#character-player{
    float: left;
} */