body{
    background: url("../images/boxing-ring.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
}

.character{
    width: 220px;
    height: 255px;
    background: url("../images/stone.jpg");
    margin: 5px;
    display:inline-block;
    text-align: center;
    border: 5px solid rebeccapurple;
}

.character h4 {
    background: gray;
    color: #0d45be;
    padding: 4px;
    font-weight: bold;
    font-size: 25px;
}

#name-text {
    font-size: 32px;
    padding: 1px;
}

.character-img {
    margin: 20px;
    max-width: 150px; 
    max-height: 150px;
}

#character-select, #character-player, #character-enemy {
    margin: auto;
    width: 90%;
    height: 280px;
    overflow: auto;
    text-align:center;
}

#title{
    margin: auto;
    width: 50%;
    overflow: auto;
}

#arena{
    margin: auto;
    width: 75%;
    overflow: auto;
    text-align:center;
}

h1 {
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
}

#welcome{
    height: 50%;
    width: 100%;
    background: url("../images/sign-texture.png");
    display:inline-block;
}

p{
    font-family: 'MinecraftiaRegular'; 
    font-weight: normal; 
    font-style: normal;
    color: white;
    line-height: 140%;
    padding: 8px;
    font-size: 18px;
}

#ready-to-play{
    margin-top: 5px; 
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

#attack{
    margin-top: 5px; 
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

#vs{
    width: 220px;
    height: 255px;
    margin: 5px;
    padding-top: 40px;
    display:inline-block;
    text-align: center;
}

.vs{
    top: 0;
    width: 220px;
    height: 255px;
    margin: 5px;
    display:inline-block;
    text-align: center;
}

#arena, #vs, .vs, .third-wide, .death-message {
    text-align: center;
    vertical-align: top;
    margin: auto;
}

#arena {
    width: 60%;
}

.third-wide {
    float: left;
    width: 33.3%;
}

.death-message{
    background: url("../images/sign-texture.png");
    width: 100%;
    height: 30%;
    display:inline-block;
    font-family: 'MinecraftiaRegular'; 
    font-weight: normal; 
    font-style: normal;
    color: white;
    line-height: 140%;
    padding-top: 20px;
    font-size: 18px;
}

.attack{
    margin-top: 5px; 
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.title{
    font-family: 'MinecrafterAltRegular'; 
    font-weight: normal; 
    font-style: normal; 
    color: paleturquoise;
    font-size: 40px;
}

.stat-box{
    position: absolute;
    width: 125px;
    height: 150px;
    background: rgb(51, 51, 51, 0.4);
    top: 40%;    
}

h3{
    padding: 5px;
    font-family: 'MinecraftiaRegular'; 
    font-weight: normal; 
    font-style: normal;
    color: white;
}